<footer>
  <!-- <p class="contained">Chat on <a href="{{ .Site.Data.community.gitterurl }}" target="_blank" class="text-link">Gitter</a>. <p class="contained">Netlify Support on <a href="{{ .Site.Data.community.forumurl }}" target="_blank" class="text-link">Netlify Community</a>. Site code on <a href="https://github.com/jamstack/jamstack.org">GitHub</a>. Pull Requests welcome!</p> -->
  <p>このサイトは <a href="https://jamstack.org/" target="_blank">jamstack.org</a> の翻訳です。サイトのコードは <a href="https://github.com/FujiHaruka/jamstack.org">GitHub</a> にあります。</p>
</footer>
